@use "../variables";

html {
    // This defines what 1rem is
    font-size: calc(10 / variables.$fontSize * 100%); // 10px
    font-family: 'Noto Sans', sans-serif;
  }
  
  body {
    color: var(--color-grey-05);
  
    background-color: var(--color-grey-95);
  }