$primary: hsla(43, 92%, 67%, 1);
$secondary: hsla(199, 73%, 60%, 1);

$white: hsla(0, 0%, 100%, 1);

$danger: hsla(351, 78%, 68%, 1);

$color-1: hsla(199, 8%, 46%, 1);
$color-2: hsla(199, 15%, 32%, 1);
$color-3: hsla(199, 33%, 18%, 1);
$color-4: hsla(288, 29%, 97%, 1);
